html {

}

p {

  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;

}

h1,h2,h3,h4,h5  {

  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

h2  {

  margin-bottom: .5em;
  margin-left: .5em;
  margin-right: .5em;
  margin-top: .5em;

}

a {

  font-weight: bold;
  color: #003366; /* dark blue */
  text-decoration: none;

}

a:hover {

  text-decoration: underline;

}

header {

  color: #FFFFFF;
  background-color: #003366;

}

header a  {

  color: #FFFFFF;
  text-decoration: none;

}

header a:hover {

  text-decoration: none;

}

li  {

  border: 1px solid #003366;
  display: block;
  width: 100&;
  text-align: center;

}

footer {

  background-color: #CCCC99;
  font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
  font-size: 1em;
  line-height: 1.4em;
  font-style: italic;

}

nav {

  width: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #000000;
  background-color: #CCCCCC;

}

nav a:hover {

  text-decoration: none;
  background-color: #FFFFFF;

}

nav a {

  display: block;

}

section {


}
